<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FunBlock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FunBlock.Properties.Settings>
            <setting name="OldHosts" serializeAs="String">
                <value />
            </setting>
            <setting name="NewHosts" serializeAs="String">
                <value>127.0.0.1 facebook.com
127.0.0.1 twitter.com
127.0.0.1 weblogy.cz
127.0.0.1 badoo.com
127.0.0.1 youtube.com</value>
            </setting>
            <setting name="Changed" serializeAs="String">
                <value>False</value>
            </setting>
        </FunBlock.Properties.Settings>
    </userSettings>
</configuration>